*{
    margin: 0px;
}
/*controle da barra nav */
.nav-menu{
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 130px 0px 130px;
    
} /*media query para o menu */
@media (max-width: 810px) {
    .conteiner-menu {
    flex-direction: column;
    justify-content: center;
  }.nav-menu{
   padding: 0px 30px 0px 30px;
  } 
  .section-apresentacao{
    flex-direction: column;
    align-items:center;
  }
   .list-icons {
    padding-top: 8px;
  }
  main {
    padding:50px;
  }
  }
.img-logo{
    display: flex;
    width: 100px;
    height: 90px;
}
ul {
    list-style: none;   
    display:flex;
}
a {
   text-decoration: none; 
    color: white;
}
.conteiner-menu{
    display:flex;
    align-items: end;
    justify-content: center;
    color:white;
} 
.conteiner-menu > img{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.lista-menu, i{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    width: 90px;
}

.lista-menu:hover, i:hover {
  color: gray;  
}
.section-apresentacao{
    display: flex;
    justify-content: center;
}
.h1-apresentacao{
    font-size: 50px;
    margin: 10px 0px 10px 0px;
}
.h2-apresentacao{
    font-size: 20px;
    color: gray;
    margin: 10px 0px 10px 0px;
}
.p1-apresentacao{
    margin: 10px 0px 10px 0px;
}
.section-apresentacao{
    display: flex;
    justify-content: space-around;
}

.apresentacao,.img-apresentacao{
    display: flex;
    flex-direction:column;
    justify-content: start;
    width :350px;
    height: 350px;
    padding:20px 0px 20px 0px;
}
.gstvimg,.projetosimg{
    width: 100%;
    height: 100%;
}
.nav-down{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80px;   
}
.btn-down{
    transform: scale(2);
    color:black;
}
.btn-down:hover{
    transform: scale(2.4);
    transition: all 0.3s;
    color:gray;
}